body, html{
    height: 100%;
}

#landing-container{
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#center{
    background-color: #fff;
    border-radius: 5px;
}

.list-group-item{
    height: 30px;
    border-radius: 4px;
    align-self: center;
    z-index: 1000;
}

.list-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.torre{
    height: 160px;
    border-bottom: 2px solid gray;
}

.row{
    margin-bottom: 20px;
}

.congratulations{
    float: right;
    text-align: right;
    color: rgba(224, 102, 102, 1);
}

a{
    color: rgba(224, 102, 102, 1);
    cursor: pointer;
}

a:hover{
    color: rgba(224, 102, 102, 1);
}

.info{
    float: left;
}

.row:first-of-type h3 {
	color: rgba(224, 102, 102, 1);
}